.encabezado2 {

    background-color: rgb(82, 156, 241);
    font-family: "roboto";
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 2rem;
}

.titulo1 {
    font-weight: 700;
    font-size: 35px;
}

.titulo2 {
    line-height: 30px;
}

.boton {
    width: 200px;
    height: 40px;
    border-radius: 35px;
    background-color: rgb(38, 183, 88);
    border-style: none;
    color: white;
    font-family: "roboto";
}